<div class="container">

  <div class="box" style="margin: 5em auto; width: 25em;">
    <body>
  
      <div>

       
          <h1 class="field" class="title">Password Generator</h1>
         
        
  
        
        <div class="field">
          <label>Enter Length:</label>
          <input class="input is-normal is-primary"  type="text" #myData (input)="onChangeLength(myData.value)">
        </div>
        
       
        <div class="field">
          <input type="checkbox" (change)="onChangeUseLetters()">
          <label>Use Letters</label>
        </div>
  
       
        <div class="field">
          <input type="checkbox" (change)="onChangeUseNumbers()">
          <label>Use Numbers</label>
        </div>
  
        
        <div class="field">
          <input type="checkbox" (change)="onChangeUseSymbol()">
          <label>Use Symbols</label>
        </div>
  
       
        <div class="field" class="button is-small is-primary" style="width: 100%;">
          <button (click)="onSubmit()" [disabled]="!(length && includeLetters || includeNumbers || includeSymbols) ">Generate Password</button>
        </div>
  
       
        <div class="field" *ngIf="password" >
          
         <label>Your Password:</label>
         <input class="input is-normal is-primary" [value]="password">
          
        </div>
  
      </div>
    
  </body>
  </div>

</div>